<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="thu.declan.xi.server.mapper.PositionMapper">

    <resultMap type="Position" id="positionResult">
        <result property="id" column="p_id" />
        <result property="companyId" column="p_companyId" />
        <result property="title" column="p_title" />
        <result property="area" column="p_area" />
        <result property="addr" column="p_addr" />
        <result property="startDate" column="p_startDate" />
        <result property="endDate" column="p_endDate" />
        <result property="startTime" column="p_startTime" />
        <result property="endTime" column="p_endTime" />
        <result property="salary" column="p_salary" />
        <result property="stuSalary" column="p_stuSalary" />
        <result property="unit" column="p_unit" />
        <result property="minDays" column="p_minDays" />
        <result property="continuous" column="p_continuous" />
        <result property="count" column="p_count" />
        <result property="retention" column="p_retention" />
        <result property="intro" column="p_intro" />
        <result property="reqGender" column="p_reqGender" />
        <result property="reqEdu" column="p_reqEdu" />
        <result property="reqGrade" column="p_reqGrade" />
        <result property="reqMajor" column="p_reqMajor" />
        <result property="reqLang" column="p_reqLang" />
        <result property="reqLangLevel" column="p_reqLangLevel" />
    </resultMap>
	
    <sql id="insertBaseColumns" >
        p_companyId, p_title, p_area, p_addr, p_startDate, p_endDate, p_startTime, p_endTime, p_salary, p_stuSalary, p_unit, p_minDays, p_continuous, p_count, p_retention, p_intro, p_reqGender, p_reqEdu, p_reqGrade, p_reqMajor, p_reqLang, p_reqLangLevel
    </sql>
    
    <sql id="selectBaseColumns" >
        p_companyId, p_title, p_area, p_addr, p_startDate, p_endDate, p_startTime, p_endTime, p_salary, p_stuSalary, p_unit, p_minDays, p_continuous, p_count, p_retention, p_intro, p_reqGender, p_reqEdu, p_reqGrade, p_reqMajor, p_reqLang, p_reqLangLevel
    </sql>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="Position">
        insert into xi_position (<include refid="insertBaseColumns" />) 
        values (#{companyId}, #{title}, #{area}, #{addr}, #{startDate}, #{endDate}, #{startTime}, #{endTime}, #{salary}, #{stuSalary}, #{unit}, #{minDays}, #{continuous}, #{count}, #{retention}, #{intro}, #{reqGender}, #{reqEdu}, #{reqGrade}, #{reqMajor}, #{reqLang}, #{reqLangLevel})
    </insert>
    
    <update id="update" parameterType="Position">
        update xi_position 
        <trim prefix="set" suffixOverrides=",">
            <if test="companyId != null"> p_companyId = #{companyId}, </if>
            <if test="title != null"> p_title = #{title}, </if>
            <if test="area != null"> p_area = #{area}, </if>
            <if test="addr != null"> p_addr = #{addr}, </if>
            <if test="startDate != null"> p_startDate = #{startDate}, </if>
            <if test="endDate != null"> p_endDate = #{endDate}, </if>
            <if test="startTime != null"> p_startTime = #{startTime}, </if>
            <if test="endTime != null"> p_endTime = #{endTime}, </if>
            <if test="salary != null"> p_salary = #{salary}, </if>
            <if test="stuSalary != null"> p_stuSalary = #{stuSalary}, </if>
            <if test="unit != null"> p_unit = #{unit}, </if>
            <if test="minDays != null"> p_minDays = #{minDays}, </if>
            <if test="continuous != null"> p_continuous = #{continuous}, </if>
            <if test="count != null"> p_count = #{count}, </if>
            <if test="retention != null"> p_retention = #{retention}, </if>
            <if test="intro != null"> p_intro = #{intro}, </if>
            <if test="reqGender != null"> p_reqGender = #{reqGender}, </if>
            <if test="reqEdu != null"> p_reqEdu = #{reqEdu}, </if>
            <if test="reqGrade != null"> p_reqGrade = #{reqGrade}, </if>
            <if test="reqMajor != null"> p_reqMajor = #{reqMajor}, </if>
            <if test="reqLang != null"> p_reqLang = #{reqLang}, </if>
            <if test="reqLangLevel != null"> p_reqLangLevel = #{reqLangLevel}, </if>
        </trim>
        where p_id = #{id}
    </update>

    <select id="selectOne" parameterType="int" resultMap="positionResult">
        select <include refid="selectBaseColumns" />
        from xi_position
        where p_id = #{id}
    </select>
    	
    <select id="selectByCompanyId" parameterType="int" resultMap="positionResult">
        select <include refid="selectBaseColumns" />
        from xi_position
        where p_companyId = #{companyId}
    </select>
    
    <select id="selectList" parameterType="Position" resultMap="positionResult">
        select <include refid="selectBaseColumns" />
        from xi_position
        <trim prefix="where" suffixOverrides="and">
        </trim>
    </select>
    
    <select id="selectCount" parameterType="Position" resultType="int">
        select count(*)
        from xi_position
        <trim prefix="where" suffixOverrides="and">Ï
        </trim>
    </select>
	
    <delete id="delete" parameterType="int">
        delete from xi_position where p_id = #{id}
    </delete>
   	
</mapper>
